body{
    padding-top: 100px;
    padding-bottom: 20px;
    background: #ededed;
}

    /*Ajustar o texto*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

    /*Ajustar tamanho do vídeo da câmera automático  QR Code*/
video{
    width:100%;
    height:auto;
}

    /*Definir tamanho de imagem ou texto*/
.bloco-texto{
  white-space:nowrap;
  width:100%;       
  max-height:100%;            
  overflow:hidden; 
  text-overflow:ellipsis;
}


    /*Cor do menu*/
.navbar, .dropdown-menu{
    background: #d30000;
    border: none;
}

/*Definir links*/
a:link, a:visited, a:active {
	text-decoration: none;
    color:red;
	}
a:hover {
	text-decoration: none; 
	color:#d30000;
	}


/*Definir a cor da letra do menu*/
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
 border-bottom: 4px solid transparent;
  border-top:4px solid transparent;
 font-size:18px;
}

.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 4px solid transparent;
  border-top:4px solid transparent;
  background:none;
}



.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

/*Centralizar texto no menu*/
.navbar .navbar-nav {
display: inline-block;
float: none !important;
}

.navbar .navbar-collapse {
text-align: center;
}
.empresaTitulo {
    color:#d30000;
}